{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 * @param string   $mainCss  main.css path
 * @param string   $mainJs   main.js path
 *}
{var mainCss = 'css/main.css'}
{var mainJs = 'js/main.js'}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{ifset title}{include title|stripHtml} | {/ifset}</title>

        <link rel="stylesheet" href="{$basePath . '/'. ($mainCss|asset_version)}" />
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        {block head}{/block}
    </head>

    <body>
        {include menu.latte}

        <div class="container">
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">
                {$flash->message}
            </div>

            <h1 class="text-center">
                {block pageTitle}{/block}
                <hr>
            </h1>
            <div class="row">
                <div class="col-sm-3 col-xs-12" id="sidebar">
                    {control addressBookMenu isset($addressBookId) ? $addressBookId}
                </div>
                <div class="col-sm-9 col-xs-12">
                    {block content}{/block}
                </div>
            </div>
        </div>
        {block scripts}
            <script src="{$basePath . '/'. ($mainJs|asset_version)}"></script>
        {/block}
    </body>
</html>
