<header class="masthead">
    <div class="container">
        <a href="/" class="masthead-logo">
            <span class="mega-octicon octicon-package"></span>
            Contacts
        </a>

        <nav class="masthead-nav">
            <a n:if="$user->isAllowed('AddressBook', 'default')" n:href="AddressBook:default">Address books</a>
            <a n:if="$user->isAllowed('Tag', 'default')" n:href="Tag:default">Tags</a>
            <a n:if="$user->isAllowed('User', 'default')" n:href="User:default">Users</a>
            <a n:if="$user->isAllowed('Loggable', 'default')" n:href="Loggable:default">Log</a>
            <a n:href="Sign:out">
                <span class="fa fa-power-off"></span>
            </a>
        </nav>
    </div>
</header>
