{block content}
        <h1 class="text-center" v-text="title"></h1>
        <hr>
    <div class="row">
        <div class="col-sm-3 col-xs-12" id="sidebar">
            <div id="sidebar">
                <nav class="menu">
                    <a class="menu-item" @click="showAddressBooks(addressBook)" href="#" v-for="addressBook in addressBooks" v-text="addressBook.name"></a>
                </nav>
            </div>
        </div>

        <div class="col-sm-9 col-xs-12">

        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    <script>
        new Vue({
            el: '#sidebar',
            data: {
                addressBooks: [],
                title: 'France'
            },
            methods: {

            },
            mounted: function (){
                axios.get('/api/address-book').then( function (response){
                    this.addressBooks = response.data;
                }.bind(this));
            }
        });
    </script>
{/block}


