{block pageTitle}
    Tags
{/block}

{block content}
    <ul class="list-group">
        <li class="list-group-item" n:foreach="$tags as $tag">
            {$tag->getName()}
        </li>
    </ul>
{/block}
