<nav class="menu">
    <a href="{plink AddressBook:show $addressBook->getId()}"
       class="menu-item {if $addressBook->getId() === $addressBookId}selected{/if}"
            n:foreach="$addressBooks as $addressBook">
        {$addressBook->getName()}
    </a>
</nav>
