{var datagridjs = 'js/datagrid.js'}
{var datagridcss = 'css/datagrid.css'}

{block head}
    <link rel="stylesheet" href="{$basePath . '/'. ($datagridcss|asset_version)}" />
{/block}

{block pageTitle}
    Log
{/block}

{block content}
    {control simpleGrid}
{/block}

{block scripts}
    <script src="{$basePath . '/'. ($datagridjs|asset_version)}"></script>
    <script>
        $.nette.init();
    </script>
{/block}
