{block pageTitle}
    <div class="toolbox-anchor">
        Log entry
    </div>
{/block}

{block content}
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Id</strong>
                </div>
                <div class="col-xs-9">
                    {$logEntry->getId()}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Action</strong>
                </div>
                <div class="col-xs-9">
                    {$logEntry->getAction()}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Logged at</strong>
                </div>
                <div class="col-xs-9">
                    {$logEntry->getLoggedAt()->format('H:i d/m/Y')}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Class</strong>
                </div>
                <div class="col-xs-9">
                    {$logEntry->getObjectClass()}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Object</strong>
                </div>
                <div class="col-xs-9">
                    {$object}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Version</strong>
                </div>
                <div class="col-xs-9">
                    {$logEntry->getVersion()}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Changed values</strong>
                </div>
                <div class="col-xs-9">
                    {if $logEntry->getData() !== null}
                        <ul n:foreach="$logEntry->getData() as $field => $value">
                            {if is_iterable($value)}
                                {foreach $value as $fieldSub => $id}
                                    <li><strong>{$field} {$fieldSub}:</strong> {$id}</li>
                                {/foreach}
                            {else}
                                <li><strong>{$field}:</strong> {$value}</li>
                            {/if}
                        </ul>
                    {/if}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Username</strong>
                </div>
                <div class="col-xs-9">
                    {$logEntry->getUsername()}
                </div>
            </div>
        </li>
    </ul>
{/block}

