<div class="form-group">
    <div class="row">
        <label class="control-label col-md-2">{$formLabel}</label>
        <div class="col-md-10">
            {foreach $form[$formName]->getContainers() as $field}
                <div class="{$field->isValid() ? '' : 'has-error'}">
                    <div class=" input-group">
                        <div class="input-group-btn">
                            <select id="{$field['label']->htmlId}"
                                    name="{$field['label']->htmlName}"
                                    class="app-select2 app-input-group-select2">

                                <option value="{$field['label']->value}" selected>
                                    {$field['label']->value}
                                </option>

                                {foreach $labelOptions as $label}
                                    {continueIf $label->getLabel() === $field['label']->value }
                                    <option value="{$label->getLabel()}">
                                        {$label->getLabel()}
                                    </option>
                                {/foreach}

                            </select>
                        </div>
                        <div class="input-group-btn" n:if="isset($fieldOptions) === true">
                            <select id="{$field['field']->htmlId}"
                                    name="{$field['field']->htmlName}"
                                    class="app-select2 app-input-group-select2">

                                <option value="{$field['field']->value}" selected>
                                    {$field['field']->value}
                                </option>

                                {foreach $fieldOptions as $option}
                                    {continueIf $option->getName() === $field['field']->value }
                                    <option value="{$option->getName()}">
                                        {$option->getName()}
                                    </option>
                                {/foreach}
                            </select>
                        </div>
                        <input n:name="$field['value']" class="form-control">
                        <span class="input-group-btn">
                        <button class="ajax btn btn-success"
                                n:name="$form[$formName]['add']"
                                n:if="$iterator->last">
                            +
                        </button>
                        <button class="ajax btn btn-danger" n:name="$field['remove']">
                            -
                        </button>
                    </span>
                    </div>
                    <span class="help-block">
                    {foreach $field->getErrors() as $error}
                        {$error}{sep}<br>{/sep}
                    {/foreach}
                </span>
                </div>
            {/foreach}
            {if $form[$formName]->getContainers()->offsetExists(0) === false}
                <span class="input-group-btn">
                    <button class="ajax btn btn-success" n:name="$form[$formName]['add']">
                        +
                    </button>
                </span>
            {/if}
        </div>
    </div>
</div>
