{**
 * @param string   $select2js   select2.js path
 * @param string   $select2css   select2.css path
 *}
{var select2js = 'js/select2.js'}
{var select2css = 'css/select2.css'}
{var contactFormCSS = 'css/contact-form.css'}
{var contactFormJS = 'js/contact-form.js'}
{var datepickerCSS = 'css/datepicker.css'}
{var datepickerJS = 'js/datepicker.js'}
{var addressBookId = $addressBook->getId()}

{block head}
    <link rel="stylesheet" href="{$basePath . '/'. ($select2css|asset_version)}" />
    <link rel="stylesheet" href="{$basePath . '/'. ($contactFormCSS|asset_version)}" />
    <link rel="stylesheet" href="{$basePath . '/'. ($datepickerCSS|asset_version)}" />
{/block}

{block pageTitle}
    Edit contact
{/block}

{block content}
    <div class="row">
        <div class="col-xs-12">
            {snippet contactForm}
                {form editForm }
                    <div class="form-group">
                        <div class="row">
                            <div class="{$form['name']->hasErrors() ? 'has-error' }">
                                <label n:name="name" class="control-label col-md-2">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input n:name=name type="text">
                                    <div class="help-block">
                                        {foreach $form['name']->getErrors() as $error}
                                            {$error}
                                        {/foreach}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {include '_customField.latte',
                formLabel => 'Email',
                formName => 'email',
                labelOptions => $labels->findBy(App\Model\Entity\CustomLabel::LABEL_EMAIL),
                form => $form}

                {include '_customField.latte',
                formLabel => 'Phone',
                formName => 'phone',
                labelOptions => $labels->findBy(App\Model\Entity\CustomLabel::LABEL_PHONE),
                form => $form}

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2">Addresses</label>
                            <div class="col-md-10">
                                {foreach $form['addresses']->getContainers() as $address}
                                    <div class="{$address->isValid() ? '' : 'has-error'}">
                                        <div class="input-group">
                                        <span class="input-group-btn">
                                            <select id="{$address['label']->htmlId}"
                                                    name="{$address['label']->htmlName}"
                                                    class="app-select2 app-input-group-select2">

                                                <option value="{$address['label']->value}" selected>
                                                    {$address['label']->value}
                                                </option>

                                                {foreach $labels->findBy(App\Model\Entity\CustomLabel::LABEL_ADDRESS) as $label}
                                                    {continueIf $label->getLabel() === $address['label']->value }
                                                    <option value="{$label->getLabel()}">
                                                        {$label->getLabel()}
                                                    </option>
                                                {/foreach}
                                            </select>
                                        </span>
                                            <input n:name="$address['address']"
                                                    class="autocomplete form-control">
                                            {input $address['street'] class => 'street'}
                                            {input $address['town'] class => 'town'}
                                            {input $address['country'] class => 'country'}
                                            {input $address['postalCode'] class => 'postalCode'}

                                            <span class="input-group-btn">
                                             <button class="ajax btn btn-success"
                                                     n:name="$form['addresses']['add']"
                                                     n:if="$iterator->last">
                                                 +
                                             </button>
                                            <button class="ajax btn btn-danger"
                                                    n:name="$address['remove']">
                                                -
                                            </button>
                                        </span>
                                        </div>
                                        <span class="help-block">
                                        {foreach $address->getErrors() as $error}
                                            {$error}
                                        {/foreach}
                                    </span>
                                    </div>
                                {/foreach}
                                {if $form['addresses']->getContainers()->count() === 1}
                                    <span class="input-group-btn">
                                    <button class="ajax btn btn-success" n:name="$form['addresses']['add']">
                                        +
                                    </button>
                                </span>
                                {/if}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2">Events</label>
                            <div class="col-md-10">
                                {foreach $form['events']->getContainers() as $event}
                                    <div class="{$event->isValid() ? '' : 'has-error'}">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <select id="{$event['label']->htmlId}"
                                                        name="{$event['label']->htmlName}"
                                                        class="app-select2 app-input-group-select2">

                                                    <option value="{$event['label']->value}" selected>
                                                        {$event['label']->value}
                                                    </option>

                                                    {foreach $labels->findBy(App\Model\Entity\CustomLabel::LABEL_EVENT) as $label}
                                                        {continueIf $label->getLabel() === $event['label']->value }
                                                        <option value="{$label->getLabel()}">
                                                            {$label->getLabel()}
                                                        </option>
                                                    {/foreach}
                                                </select>
                                            </div>

                                            <input n:name="$event['eventDate']" class="form-control app-datepicker">
                                            <span class="input-group-btn">
                                        <button class="ajax btn btn-success"
                                                n:name="$form['events']['add']"
                                                n:if="$iterator->last">
                                            +
                                        </button>
                                        <button class="ajax btn btn-danger"
                                                n:name="$event['remove']">
                                            -
                                        </button>
                                        </div>
                                        <span class="help-block">
                                        {foreach $event->getErrors() as $error}
                                            {$error}{sep}<br>{/sep}
                                        {/foreach}
                                    </span>
                                    </div>
                                {/foreach}

                                {if $form['events']->getContainers()->count() === 1}
                                    <span class="input-group-btn">
                                    <button class="ajax btn btn-success" n:name="$form['events']['add']">
                                        +
                                    </button>
                                </span>
                                {/if}
                            </div>
                        </div>
                    </div>

                {include '_customField.latte',
                formLabel => 'Other',
                formName => 'customValue',
                labelOptions => $labels,
                fieldOptions => $customFields,
                form => $form}

                    <div class="form-group">
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label>Tags</label>
                            </div>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <select id="{$form['tags']->htmlId}"
                                            name="{$form['tags']->htmlName}"
                                            class="app-select2 app-input-select2"
                                            multiple>

                                        <option n:foreach="$form['tags']->getRawValue() as $tag" value="{$tag}" selected>
                                            {$tag}
                                        </option>

                                        {foreach $tags as $tag}
                                            {continueIf in_array($tag->getName(), $form['tags']->getRawValue()) === true}
                                            <option value="{$tag->getName()}">
                                                {$tag->getName()}
                                            </option>
                                        {/foreach}
                                    </select>

                                    {*<select n:name="$form['tags']" class="app-select2 col-md-12"></select>*}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="{* TODO: ajax*} btn btn-lg btn-primary" n:name="$form['submit']">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                {/form}
            {/snippet}
        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    <script src="{$basePath . '/'. ($select2js|asset_version)}"></script>
    <script src="{$basePath . '/'. ($datepickerJS|asset_version)}"></script>
    <script src="{$basePath . '/'. ($contactFormJS|asset_version)}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwKRjzkLqKeGsS6bE7oW_MamjGxyJOotI&libraries=places&callback=initAutocomplete" async defer></script>
    <script>

    </script>
{/block}
