{var addressBookId = $addressBook->getId()}

{block pageTitle}
    <div class="toolbox-anchor">
        {$contact|contact_name|noescape}
    </div>
{/block}

{block content}
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Name</strong>
                </div>
                <div class="col-xs-9">
                    {$contact->getName()}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>First name</strong>
                </div>
                <div class="col-xs-9">
                    {$contact->getFirstName()}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Last name</strong>
                </div>
                <div class="col-xs-9">
                    {$contact->getLastName()}
                </div>
            </div>
        </li>
        <li class="list-group-item" n:if="$contact->getAddresses()->isEmpty() === false">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Addresses</strong>
                </div>
                <div class="col-xs-9">
                    <ul>
                        <li n:foreach="$contact->getAddresses()->toArray() as $address">
                            <strong n:if="$address->getCustomLabel() !== null">{$address->getCustomLabel()->getLabel().':'}</strong>
                            {$address->getName()}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item" n:if="$contact->getEvents()->isEmpty() === false">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Events</strong>
                </div>
                <div class="col-xs-9">
                    <ul>
                        <li n:foreach="$contact->getEvents()->toArray() as $event">
                            <strong n:if="$event->getCustomLabel() !== null">{$event->getCustomLabel()->getLabel().':'}</strong>
                            {$event->getEventDate()->format("d/m/Y")}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item" n:if="$contact->getCustomValues()->isEmpty() === false">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Custom fields</strong>
                </div>
                <div class="col-xs-9">
                    <ul>
                        <li n:foreach="$contact->getCustomValues()->toArray() as $customValue">
                            <strong>{ucfirst($customValue->getCustomField()->getName())}</strong>
                            {$customValue->getCustomLabel()->getLabel().':'}
                            {$customValue->getValue()}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item" n:if="$contact->getTags()->isEmpty() === false">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Tags</strong>
                </div>
                <div class="col-xs-9">
                    <span n:foreach="$contact->getTags()->toArray() as $tag">
                            {$tag->getName()}{sep}, {/sep}
                    </span>
                </div>
            </div>
        </li>
    </ul>
    <div class="text-center">
        <div class="btn-group text-center">
            <a n:href="Contact:edit $contact->getId()" class="btn btn-warning"
                    n:if="$user->isAllowed('Contact', 'edit')"
            >
                Edit
            </a>
            <a n:href="AddressBook:show $contact->getAddressBook()->getId()"
                    n:if="$user->isAllowed('Contact', 'default')"
                    class="btn btn-default">
                Back to the list
            </a>
        </div>
    </div>

{/block}

