{* This is the welcome page, you can delete it *}

{block pageTitle}
    Address books
{/block}

{block content}
    <ul class="list-group">
        <li class="list-group-item" n:foreach="$addressBooks as $addressBook">
            <div class="row">
                <div class="col-xs-9">
                    <a n:href="AddressBook:show $addressBook->getId()">
                        {$addressBook->getName()}
                    </a>
                </div>
                <div class="col-xs-3 text-right">
                    <div class="btn-group">
                        <a n:href="AddressBook:edit $addressBook->getId()"
                                n:if="$user->isAllowed('AddressBook', 'edit')"
                                class="btn-xs btn-default btn">
                            <span class="fa fa-pencil"></span>
                        </a>
                        <a n:href="AddressBook:delete $addressBook->getId()"
                                n:if="$user->isAllowed('AddressBook', 'delete')"
                                class="btn-xs btn-danger btn">
                            <span class="fa fa-remove"></span>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <a n:href="AddressBook:add" class="btn btn-success" n:if="$user->isAllowed('AddressBook', 'add')">
        Add a new entry
    </a>
{/block}

{block scripts}
    {include parent}
{/block}

