{var ajaxInit = 'js/ajaxInit.js'}
{var addressBookId = $addressBook->getId()}

{block pageTitle}
    Edit a new address book
{/block}

{block content}
    <div class="row">
        <div class="col-xs-8">
            {snippet addressBookForm}
                {control editForm}
            {/snippet}
        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    <script src="{$basePath . '/'. ($ajaxInit|asset_version)}"></script>
{/block}
