{var datagridjs = 'js/datagrid.js'}
{var datagridcss = 'css/datagrid.css'}
{var addressBookId = $addressBook->getId()}

{block head}
    <link rel="stylesheet" href="{$basePath . '/'. ($datagridcss|asset_version)}" />
{/block}

{block pageTitle}
    <div class="toolbox-anchor">
        {$addressBook->getName()}
        <a n:href="AddressBook:edit $addressBook->getId()" class="btn-hidden"
                n:if="$user->isAllowed('AddressBook', 'edit')"
        >
            <span class="fa fa-pencil"></span>
        </a>
    </div>
{/block}

{block content}
    {control simpleGrid}

    <div class="text-center">
        <a n:href="AddressBook:default" class="btn btn-sm btn-default"
                n:if="$user->isAllowed('AddressBook', 'default')"
        >
            Back to the list
        </a>
    </div>
{/block}

{block scripts}
    <script src="{$basePath . '/'. ($datagridjs|asset_version)}"></script>
    <script>
        $.nette.init();
    </script>
{/block}
