{block pageTitle}
    Users
{/block}

{block content}
    <ul class="list-group">
        <li class="list-group-item" n:foreach="$users as $userEntity">
            <div class="row">
                <div class="col-xs-9">
                    <a n:href="User:show $userEntity->getId()">
                        {$userEntity->getUsername()}
                    </a>
                </div>
                <div class="col-xs-3 text-right">
                    <div class="btn-group">
                        <a n:href="User:edit $userEntity->getId()"
                                n:if="$user->isAllowed('User', 'edit')"
                                class="btn-xs btn-default btn">
                            <span class="fa fa-pencil"></span>
                        </a>
                        <a n:href="User:delete $userEntity->getId()"
                                n:if="$user->isAllowed('User', 'delete')"
                                class="btn-xs btn-danger btn"
                                onclick="return confirm('Are you sure you want to delete this user?')"
                        >
                            <span class="fa fa-remove"></span>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <a n:href="User:add" class="btn btn-success"
            n:if="$user->isAllowed('User', 'add')"
    >
        Add a new entry
    </a>
{/block}

{block scripts}
    {include parent}
{/block}

