{block pageTitle}
    {$userEntity->getUsername()}
{/block}

{block content}
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Username</strong>
                </div>
                <div class="col-xs-9">
                    {$userEntity->getUsername()}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <strong>Roles</strong>
                </div>
                <div class="col-xs-9">
                    <ul n:if="$userEntity->getRoles()">
                        <li n:foreach="$userEntity->getRoles() as $role">
                            {$role}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>

    <div class="text-center">
        <a n:href="User:default" class="btn btn-default"
                n:if="$user->isAllowed('User', 'default')"
        >
            Back to the list
        </a>
    </div>
{/block}
