{layout 'layout_user.latte'}

{var loginCss = 'css/login.css'}
{var ajaxInit = 'js/ajaxInit.js'}

{block head}
    <link rel="stylesheet" href="{$basePath . '/'. ($loginCss|asset_version)}" />
{/block}

{block pageTitle}
    Sign In
{/block}

{block content}
    {snippet signForm}
        {form signInForm  class => 'form-sign-in ajax'}
            <div class="alert alert-danger" role="alert" n:if="$form->hasErrors()">
                <ul class="errors">
                    <li n:foreach="$form->errors as $error">{$error}</li>
                </ul>
            </div>
            <div class="well">
                <div class="form-group">
                    {label username/}
                    {input username class => 'form-control'}
                </div>
                <div class="form-group">
                    {label password/}
                    {input password class => 'form-control'}
                </div>
                <div class="form-group">
                    {label remember/}
                    {input remember}
                </div>
                {input send}
            </div>
        {/form}
    {/snippet}

{/block}

{block scripts}
    {include parent}
    <script src="{$basePath . '/'. ($ajaxInit|asset_version)}"></script>
{/block}
