{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 * @param string   $mainCss  main.css path
 * @param string   $mainJs   main.js path
 *}
{var mainCss = 'css/main.css'}
{var mainJs = 'js/main.js'}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{ifset title}{include title|stripHtml} | {/ifset}</title>

        <link rel="stylesheet" href="{$basePath . '/'. ($mainCss|asset_version)}" />
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        {block head}{/block}
    </head>

    <body>
        {*{ifset flashMessages}{include flashMessages|stripHtml}*}

        {*{elseifset}*}
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        {*{/ifset}*}
        <div class="container">
            <h1 class="text-center">
                {block pageTitle}{/block}
            </h1>

            {include content}
        </div>
        {block scripts}
            <script src="{$basePath . '/'. ($mainJs|asset_version)}"></script>
        {/block}
    </body>
</html>
